:root {
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 300px;
    height: 70px;
    font-size: 20px;
    -unity-font-style: bold;
}

.play-button {
    margin-bottom: 10px;
}

.quit-button {
    margin-top: 10px;
}

.high-score-label {
    font-size: 20px;
    color: white;
}
